body {
  background-color: #CBF1F5;
  background-image: linear-gradient(to right, #E3FDFD, #CBF1F5, #A6E3E9);
  font-family: cursive;
}

hr {
  border-style: none;
  border-top: 8px dotted grey;
  width: 6%;
}

h1 {
  color: #00ADB5;
  font-family: "Sofia", sans-serif;
}

h3 {
  color: #11999E;
  font-family: "Sofia", sans-serif;
}


a {
color:  #00ADB5;
}
a:visited {
  color:  #11999E;
}
a:hover{
  color: #0D7377;
}
